
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
        border-color: #aabcfe;
    }

        .tg td {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: #aabcfe;
            color: #669;
            background-color: #e8edff;
        }

        .tg th {
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: #aabcfe;
            color: #039;
            background-color: #b9c9fe;
        }

        .tg .tg-baqh {
            text-align: center;
            vertical-align: top;
        }

        .tg .tg-mb3i {
            background-color: #D2E4FC;
            text-align: right;
            vertical-align: top;
        }

        .tg .tg-lqy6 {
            text-align: right;
            vertical-align: top;
        }

        .tg .tg-6k2t {
            background-color: #D2E4FC;
            vertical-align: top;
        }

        .tg .tg-yw4l {
            vertical-align: top;
        }
</style>

<form style="margin-top:20px">
    <h2 class="celeste titulo FontCormi" style="margin-top:33px"> Dia </h2>
    <table class="tg" style="margin-top:60px;align-content:center">
        <tr>
            <th class="tg-baqh" colspan="6">Registro de Comidas</th>
        </tr>
        <tr>
            <td class="tg-6k2t">Franja Horaria </td>
            <td class="tg-6k2t">Hora</td>
            <td class="tg-6k2t">Cantidad</td>
            <td class="tg-6k2t" style="width:600px;text-align:center">Alimento</td>
            <td class="tg-6k2t">Creditos</td>
            <td class="tg-6k2t">Apetito (1 a 5)</td>
        </tr>
        <tr>
            <td class="tg-mb3i">Mañana</td>
            <td class="tg-yw4l"></td>
            <td class="tg-lqy6"></td>
            <td class="tg-lqy6"></td>
            <td class="tg-lqy6"></td>
            <td class="tg-lqy6"></td>
        </tr>
        <tr>
            <td class="tg-mb3i">1/2 Mañana</td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
            <td class="tg-yw4l"></td>
        </tr>
       
        <tr>
            <td class="tg-mb3i">Mediodia</td>
            <td class="tg-yw4l"></td>
            <td class="tg-lqy6"></td>
            <td class="tg-lqy6"></td>
            <td class="tg-lqy6"></td>
            <td class="tg-lqy6"></td>
        </tr>
        <tr>
            <td class="tg-mb3i">Tarde</td>
            <td class="tg-yw4l"></td>
            <td class="tg-lqy6"></td>
            <td class="tg-lqy6"></td>
            <td class="tg-lqy6"></td>
            <td class="tg-lqy6"></td>
        </tr>
        <tr>
            <td class="tg-mb3i">1/2 Tarde</td>
            <td class="tg-yw4l"></td>
            <td class="tg-lqy6"></td>
            <td class="tg-lqy6"></td>
            <td class="tg-lqy6"></td>
            <td class="tg-lqy6"></td>
        </tr>
        <tr>
            <td class="tg-mb3i">Noche</td>
            <td class="tg-yw4l"></td>
            <td class="tg-lqy6"></td>
            <td class="tg-lqy6"></td>
            <td class="tg-lqy6"></td>
            <td class="tg-lqy6"></td>
        </tr>
        <tr>
            <td class="tg-mb3i">Ultima hora</td>
            <td class="tg-yw4l"></td>
            <td class="tg-lqy6"></td>
            <td class="tg-lqy6"></td>
            <td class="tg-lqy6"></td>
            <td class="tg-lqy6"></td>
        </tr>
        <tr>
            <td class="tg-mb3i">Trasnoche</td>
            <td class="tg-yw4l"></td>
            <td class="tg-lqy6"></td>
            <td class="tg-lqy6"></td>
            <td class="tg-lqy6"></td>
            <td class="tg-lqy6"></td>
        </tr>
        <tr>
            <td class="tg-mb3i">AF</td>
            <td class="tg-yw4l"></td>
            <td class="tg-lqy6"></td>
            <td class="tg-lqy6"></td>
            <td class="tg-lqy6"></td>
            <td class="tg-lqy6"></td>
        </tr>
    </table>
</form>
