@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Historia Personal Cormillot</title>
    <style>
        .btn {
            color: #fff;
            background-color: #5bc0de;
            border-color: #46b8da;
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            margin: 10px auto;
            display: block;
        }
        iframe{
            display: none;
            /*margin:10px auto !important;*/
            margin-top:10px;
            margin-left:75px;
        }

         .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(255, 255, 255, .8)
                    url('http://i.stack.imgur.com/FhHRx.gif')
                    50% 50%
                    no-repeat;
    }

    /* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
    body.loading {
        overflow: hidden;
    }

    /* Anytime the body has the loading class, our
   modal element will be visible */
    body.loading .modal {
        display: block;
    }
    </style>
</head>
<body class="loading">
@*<button class="btn" type="button" onclick="imprimir()">Imprimir</button>*@
<script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <div class="modal"><!-- Place at bottom of page --></div>
<iframe src="~/Impresion/Page1" frameborder="0" width="1163px" height="721px"></iframe>
<iframe src="~/Impresion/Page2" frameborder="0" width="1163px" height="721px"></iframe>
<iframe src="~/Impresion/Page3" frameborder="0" width="1163px" height="721px"></iframe>
<iframe src="~/Impresion/Page4" frameborder="0" width="1163px" height="721px"></iframe>
<iframe src="~/Impresion/Page5" frameborder="0" width="1163px" height="721px"></iframe>
<iframe src="~/Impresion/Page6" frameborder="0" width="1163px" height="731px"></iframe>
<iframe src="~/Impresion/Page7" frameborder="0" width="1163px" height="731px"></iframe>
<iframe src="~/Impresion/Page8" frameborder="0" width="1163px" height="721px"></iframe>
<iframe src="~/Impresion/Page9" frameborder="0" width="1163px" height="721px"></iframe>
<iframe src="~/Impresion/PagePrueba" frameborder="0" width="1163px" height="721px"></iframe>


<script>
    // self executing function here
    (function () {
       
       
        setTimeout(function () {
            $('body,html').removeClass("loading");
            $("iframe").css("display", "block");
            window.print();
            
        }, 10000);
        
        
        
    })();
</script>
</body>
</html>
