@{
    Layout = null;
}
 

<!DOCTYPE html>

<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- Save for Web Styles (hoja1.psd - Slices: razona) -->
    <style type="text/css" media="print">
     @@media print{
         #Table_01{
             
             background-image: url(../../Content/Imagenes/Mapeo/1.jpg);
         
         }
     }
    </style>
    
</head>
<body style="background-color:#FFFFFF; margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px;">
    <!-- Save for Web Slices (hoja1.psd - Slices: razona) -->
    <div id="Table_01">
       <div>
           hola
       </div>
        <div>
            chau
        </div>
    </div>
    <!-- End Save for Web Slices -->
</body>
</html>
